<div class="container">
    <div class="row mt-5 login-div">
      <div class="col-12">
            <div class="alert alert-danger text-center" role="alert" *ngIf="hasError">
            Invalid credentials.
            </div>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="well">
          <div class="logo">
            <img src="assets/equallend_logo1.jpg" width="143" alt="Equallend Logo">
          </div>
          <h4 class="text-center mb-4" style="margin-top: 1rem;">Login</h4>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" class="form-control" [(ngModel)]="username" id="exampleFormControlInput1" placeholder="Enter Username">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="exampleFormControlInput2" placeholder="Enter Password">
          </div>
          <div class="link-wrap">
            Not Registered? <a class="link" (click)="redirectToReg();">Sign Up</a>
          </div>
          <div class="text-center" style="margin-top: 1rem;">
            <button type="submit" class="btn btn-primary" (click)="signIn();">Sign In</button>
          </div>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
  
  <app-loader></app-loader>
  