<!-- <div class="container">
    <h2 class="piechartheader">Percentage of Business</h2>
<google-chart
  [data]="pieChart">
</google-chart>
</div> -->
<div class="container sample">
  <div class="options vertical" style="margin-left: 90px;">
      <!-- <span id="legendTitle">Global Electricity Demand by Energy Use</span> -->
      <igx-item-legend #legend height="100px" orientation="horizontal"></igx-item-legend>
  </div>
  <div class="container" style="margin-top: -50px;">
      <igx-doughnut-chart #chart height="100%" width="100%"
      (sliceClick)="chartSliceClickEvent($event)">
          <igx-ring-series
              [dataSource]="data"
              [legend]="legend"
              legendLabelMemberPath="Label"
              valueMemberPath="Value"
              labelMemberPath="Summary"
              allowSliceSelection="false"
              labelsPosition="Center"
              sliceFill="color"
              labelExtent="30"
              radiusFactor="0.7"
              labelFont="20px"
              brushes="#8B5BB1, #EE5879, #F8A15F"
              startAngle=260>
          </igx-ring-series>
      </igx-doughnut-chart>
  </div>
</div>