.main-container {
    .app-bar {
        height: 70px;
        box-shadow: 1px 1px 1px 0px #afafafe8;
        background: #ffffff;
        opacity: 0.85;
        border-bottom: 4px solid #84d3fc;
        text-align: center;
        display: flex;
        .page-title {
            font-size: 25px;
            font-weight: 600;
            // margin-left: 50%;
            align-self: center;
            margin: 0 auto;
            width: 100%;
        }
        .avatar {
            margin-left: auto;
            margin-right: 1rem;
            margin-top: 15px;
            img {
                width: 33px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .bread-crumb {
            align-self: center;
        }
    }
}

.avatar-container {
    position: absolute;
    width: 150px;
    height: 154px;
    background: #fff;
    right: 22px;
    z-index: 999999;
}

.home-icon {
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 14px;
    &:hover {
        cursor: pointer;
    }
    img {
        width: 32px;

    }
}

.logout-icon {
    margin-top: 16px;
    margin-right: 14px;
    &:hover {
        cursor: pointer;
    }
    img {
        width: 32px;
    }
}