<div class="container">
    <div class="row">
        <div class="col-4">
            <h5 class="card-title">SBDC time per Loan (Minutes)</h5>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter SBDC time per Loan in minutes"
                    [(ngModel)]="sbdcTimePerLoan" />
            </div>
        </div>

        <div class="col-4">
            <h5 class="card-title">Number of employees to be trained</h5>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Number of employees to be trained"
                    [(ngModel)]="numberofEmployees" />
            </div>
        </div>

        <div class="col-4">
            <h5 class="card-title">Annual Training Time (Hour)</h5>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Annual Training Time" [(ngModel)]="annualTrainingTime" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h5 class="card-title">SBDC data reporting data preparation (Hour)</h5>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter SBDC data reporting data preparation in hours"
                    [(ngModel)]="sbdcDataReportingTime" />
            </div>
        </div>

        <div class="col-4">
            <h5 class="card-title">Number of Loans</h5>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter number of Loans"
                    [(ngModel)]="loanCount" />
            </div>
        </div>

        <div class="col-4">
            <h5 class="card-title">Employee Cost per hour ($)</h5>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Cost per hour" [(ngModel)]="costPerHour" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-primary calc-btn clear-btn" (click)="clear();">Clear</button>
            <button type="button" class="btn btn-primary calc-btn" (click)="calculate();">Calculate</button>
        </div>
        
    </div>
</div>
<div class="result-wrap">
    <div>
        <div class="result">
            <div class="hours">
                {{totalEstimatedTimeToCollectData}}
            </div>
        </div>
        <div class="txt">Estimated time to collect data for all the Small Business loans in the future</div>
    </div>
    <div>
        <div class="result cost">
            <div class="amount" [ngClass]="{'four': (totalCostPerson < 10000 && totalCostPerson > 999), 'five': (totalCostPerson < 100000 && totalCostPerson > 9999), 
                                        'six': (totalCostPerson < 1000000 && totalCostPerson > 99999) }">
                {{totalCostPerson}}
            </div>
            <div class="dollar">
                $
            </div>
        </div>
        <div class="txt cost-txt">Total Cost per employee</div>
    </div>
    <div>
        <div class="result">
            <div class="hours">
                {{totalTimeForReporting}}
            </div>
        </div>
        <div class="txt">Estimated time to perfect the reporting of the ECOA SBDC in the future</div>
    </div>
</div>

<div class="separator">
</div>

<div class="total-cost-header">
    Total Cost for {{numberofEmployees}} Employees
</div>
<div class="total-cost">
    $ {{totalCostToTheBank}}
</div>

<app-loader></app-loader>