.hours {
    position: absolute;
    top: 101px;
    left: 86px;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}

.amount {
    position: absolute;
    font-size: 50px;
    top: 34px;
    left: 46px;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
}

.dollar-img {
    width: 175px;
}

.dollar {
    position: absolute;
    top: 76px;
    left: 72px;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
}