.result-wrap {
    text-align: center;

    > div {
        display: inline-block;
        width: 340px;
        margin: 0 20px;
    }

    .result {
        position: relative;
        width: 275px;
        min-height: 210px;
        margin: 0 35px;
        background-image: url("../../assets/time.png");
        background-size: cover;

        &.cost {
            background-image: url("../../assets/dollar.png");
            background-size: 175px;
            background-repeat: no-repeat;
            background-position: center center;
            top: 7px;
        }
    }

    .txt {
        text-align: center;
        margin-top: 18px;
        font-style: italic;
        font-weight: 600;

        &.cost-txt {
            position: relative;
            top: -22px;
        }
    }
}

.hours {
    position: absolute;
    top: 95px;
    left: 78px;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    width: 84px;
}

.card-title {
    font-size: 16px;
    margin-top: 20px;
}

.calc-btn {
    margin-top: 10px;
    text-transform: uppercase;
}

.clear-btn {
    margin-right: 25px;
    background: #badff4;
    border-color: #badff4;
    color: #000;
    box-shadow: 1px 1px 1px #c9c9ce;
}

.amount {
    position: absolute;
    font-size: 50px;
    top: 88px;
    left: 93px;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    width: 90px;

    &.four {
        font-size: 40px;
    }
    &.five {
        font-size: 33px;
        top: 94px;
    }
    &.six {
        font-size: 28px;
        top: 94px;
    }

}

.dollar-img {
    width: 175px;
}

.dollar {
    position: absolute;
    top: 43px;
    left: 124px;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
}

.separator {
    border-bottom: 2px solid #d4d4d4;
    margin: 1rem 17rem;
}

.total-cost-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    margin-top: 1rem;
}

.total-cost {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}