<div class="dashboard-container">
    <div class="flex-container">
        <div class="card-body">
            <h5 class="card-title">Year</h5>
            <div class="row">
              <div class="year-dropdown">
                <select class="custom-select">
                  <option *ngFor="let year of years" value="{{year}}" selected>{{year}}</option>
                </select>
              </div>
              <div class="import-button">
                  <button type="submit" class="btn btn-primary">Import Loans</button>
              </div>
            </div>
          </div>
          <div class="map">
            <google-map></google-map>
          </div>
    </div>
    <div class="count-container">
        <div style="display: flex; margin-left: 21rem;">
            <div class="round-circle red">
                <h5 class="heading">
                    Commercial 
                    <br />
                    Loans
                    <div class="value">
                        100
                    </div>
                </h5>
            </div>
            <div class="round-circle green">
                <h5 class="heading">
                    Small Business 
                    <br />
                    Loans
                    <div class="value">
                        50
                    </div>
                </h5>
            </div>
            <div class="round-circle blue">
                <h5 class="heading">
                    Total Business 
                    <br />
                    Count
                    <div class="value">
                        50
                    </div>
                </h5>
            </div>
        </div>
    </div>

    <div class="pie-chart">
        <div>
            <pie-chart></pie-chart>
        </div>
    </div>
</div>